body{
    text-align: center;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.red{
    background-color: #d95980;
}

.Purple{
    background-color: #819ff9;
}

.yellow{
    background-color: #f99b45;
}

.blue{
    background-color: #63aac0;
}

.flash{
    background-color: white;
}
